body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('../image/bg.png') center/cover no-repeat;
    color: #333;
  }
  
  /* Header */
  .top-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.08);
    z-index: 10;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
  }
  
  .header__logo img {
    height: 40px;
  }
  
  /* Main Content */
  .content-wrapper {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .status-container {
    text-align: center;
    max-width: 500px;
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Status item */
  .status-line {
    display: flex;
    justify-content: space-between;  /* 左右分佈 */
    margin-bottom: 15px;
}

/*控制左邊 (圖標 + "Sending emails") 的排列*/
  .status-item {
    display: flex;
    justify-content: left;
    align-items: center; /* 圖標與文字垂直對齊 */
    gap: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .status-icon {
    width: 20px;   
    height: 20px;  
  }
  
  
  /* Buttons */
  .btn-primary,
  .btn-secondary {
    background-color: #567d80;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  
  .btn-primary:hover {
    background-color: #fff;
    color: #567d80;
    border: 2px solid #567d80;
  }
  
  .btn-secondary {
    background-color: #ccc;
    color: #333;
  }
  
  .btn-secondary:hover {
    background-color: #fff;
    color: #333;
    border: 2px solid #ccc;
  }
  
  /* Email input */
  .email-input {
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 5px;
    margin: 20px 0;
  }
  
  .email-input input {
    padding: 8px;
    border: 1px solid #ccc;
    width: 70%;
    height:44px ;
    box-sizing: border-box;
  }
  
  .email-label-text {
    font-size: 14px;
    margin-top: 20px;
  }
  