.header__logo img {
    height: 39px;
    vertical-align: middle;
    transition: height 0.3s ease-in-out;
}

main.content-wrapper {
    padding-top: 120px;
}

/* Centre the entire page */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url('../image/bg.png') center/cover no-repeat;
    font-family: Arial, sans-serif;
}

/* Loading container */
.loading-container {
    position: absolute;      
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Loading Icon animation */
.loading-icon {
    width: 80px;
    height: 80px;
    animation: spin 1.5s linear infinite; /* rotation animation */
    margin-bottom: 20px;
}

/* Rotation animation definition */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* text below icon  */
.loading-container p {
    font-size: 18px;
    color: #333;
    font-weight: bold;
}
